html {
	background-color: gray;
}

.profile {
	background-color: red;
	color: black;
	margin: auto;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	width: 500px;
}

img {
	text-align: center;
	width: 150px;
}

h3 {
	color: red;
	text-align: center;
	font-weight: bold;
	font-family: Garamond;
}

ul{
	text-align: center;
}

ol{
	text-align: center;
}


p {
	font-family: "Times New Roman";
	text-align: center;
}
#cheer {
	font-weight: bold;
	color: red;
	text-align: center;
}