html {
	background-color: gray;
}

body {
	background-color: white;
	margin: auto;
	width: 600px;
}

.profile {
	background-color: gray;
	color: black;
	margin: auto;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	width: 500px;
}

img {
	text-align: center;
	width: 150px;
}

h4 {
	color: red;
	text-align: center;
	font-weight: bold;
	font-family: Garamond;
}

h3 {
	color: red;
	font-weight: bold;
	font-family: Garamond;
}

p {
	font-family: "Times New Roman";
	text-align: center;
}
#cheer {
	font-weight: bold;
	color: red;
	text-align: center;
}