#header{
	background-color: #A3C2FF;
	text-align: center;
	width: 100%;
	padding: 2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 60px;
	font-family: Garamond;
	font-size: 40px;


}

#content{
	float:right;
	width: 80%;
	padding: 2px;
	margin: 2px;
	text-align: center;
	



}

#sidebar{
	background-color: #A3C2FF;
	float: left;
	padding: 2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 600px;

}

#footer{
	background-color: #A3C2FF;
	text-align: center;
	width: 100%;
	padding:2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 60px;
	clear: both;
	font-family: Garamond;
	font-size: 35px;
}

p {
	text-align: center;
	width: 70%;
	color: #313A4C;
	font-family: Garamond;
	font-size: 30px;
}

#image{
	position: relative;
	width: 70%;

}
#img_tag{
	position: absolute;
	width: 70%;
	color: red;
}

a:link {
	color: red;
}

a:visited {
	color: #FF9999;
}