#header {
	background-color: #A3C2FF;
	text-align: center;
	width: 100%;
	padding: 2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 60px;
	font-family: Garamond;
	font-weight: bold;
}

#content {
	float:right;
	width: 80%;
	padding: 2px;
	margin: 2px;
	text-align: center;
}

#sidebar {
	background-color: #A3C2FF;
	float: left;
	padding: 2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 600px;
	font-weight: bold;

}

#footer {
	background-color: #A3C2FF;
	text-align: center;
	width: 100%;
	padding:2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 60px;
	clear: both;
	font-family: Garamond;
	font-size: 30px;
	font-weight: bold;
}

.red {
	color: red;
}

p {
	text-align: center;
	width: 70%;
	color: #313A4C;
	font-size: 30px;
	font-weight: bold;
}

#image {
	position: relative;
	width: 70%;

}
#img_tag {
	position: absolute;
	width: 70%;
	color: red;
	bottom: 10px;
	left: 100px;
}

a:link {
	color: #0A1F33;
}

a:visited {
	color: #FF9999;
}

a:hover {
	color: green;
}