#header{
	background-color: #A3C2FF;
	text-align: center;
	width: 100%;
	padding: 2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 60px;


}

#content{
	float:right;
	width: 80%;
	padding: 2px;
	margin: 2px;
	text-align: center;
	



}

#sidebar{
	background-color: #A3C2FF;
	float: left;
	padding: 2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 80%;

}

#footer{
	background-color: #A3C2FF;
	text-align: center;
	width: 100%;
	padding:2px;
	margin: 2px;
	border: 2px solid #000000;
	height: 60px;

}

#image{
	position: relative;
	width: 70%;

}
#img_tag{
	position: absolute;
	width: 70%

}